<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Edit Profil</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark"
		style="background-color: green;">
		<a class="navbar-brand"
			th:href="@{/user/{user_name} (user_name=${user.user_name})}">TokoKakas</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarText" aria-controls="navbarText"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link"
					th:href="@{/user/{user_name} (user_name=${user.user_name})}">Beranda
				</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/keranjang/{user_name} (user_name=${user.user_name})}">Keranjang</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/riwayat/{user_name} (user_name=${user.user_name})}">Riwayat</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/user/kakas-pay/{user_name}(user_name=${user.user_name})}"
					th:text="|Kakas Pay : Rp ${user.kakas_pay}|"></a></li>
			</ul>
			<span class="navbar-text"><a th:text="${user.user_name}"
				th:href="@{/user/edit/{user_name}(user_name=${user.user_name})}"></a>
			</span>
		</div>
	</nav>
	<br>
	<br>
	<br>
	<div class="container">
		<div class="row">
			<div
				class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class="text-center">Edit Profil</h1>
				<div class="card-body">
					<form th:action="@{/user/{user_name}(user_name=${user.user_name})}"
						th:object="${user}" th:method="PUT">
						<input type="hidden" name="_method" value="put">
						<div class="form-group">
							<input type="hidden" name="user_name" th:field="*{user_name}"
								class="form-control" value="${user.user_name}" />
						</div>

						<div class="form-group">
							<label>Password Baru</label> <input type="password" name="password"
								th:field="*{password}" class="form-control"
								value="${user.password}" />
						</div>

						<div class="form-group">
							<label>Nama Depan</label> <input type="text" name="first_name"
								th:field="*{first_name}" class="form-control"
								value="${user.first_name}" />
						</div>

						<div class="form-group">
							<label>Nama Belakang</label> <input type="text" name="last_name"
								th:field="*{last_name}" class="form-control"
								value="${user.last_name}" />
						</div>

						<div class="box-footer">
							<button type="submit" class="btn btn-success">Simpan</button>
							<a th:href="@{/login}"
									class="btn btn-danger mx-3">Keluar</a>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
</body>
</html>