<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>TokoKakas</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: green;">
		<a class="navbar-brand" th:href="@{/user/{user_name} (user_name=${user.user_name})}">TokoKakas</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarText" aria-controls="navbarText"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" th:href="@{/user/{user_name} (user_name=${user.user_name})}">Beranda
				</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/keranjang/{user_name} (user_name=${user.user_name})}">Keranjang</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/riwayat/{user_name} (user_name=${user.user_name})}">Riwayat</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/user/kakas-pay/{user_name}(user_name=${user.user_name})}" th:text="|Kakas Pay : Rp ${user.kakas_pay}|"></a></li>
			</ul>
			<span class="navbar-text"><a th:text="${user.user_name}" th:href="@{/user/edit/{user_name}(user_name=${user.user_name})}"></a>
			</span>
		</div>
	</nav>
	<br>
	<br>
	<br>
	<div class="container">
		<div class="row">
			<div
				class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card p-4 border-success">
				<h1 class="text-center">Selamat Datang di TokoKakas</h1>
				<div class="card-body">
					<h1 class="text-center" th:text="${user.first_name}"></h1>
					<h1 class="text-center" th:text="${user.last_name}"></h1>
					<br>
					<h4 class="text-center">Cari Peralatan Tukang ?</h4>
					<h4 class="text-center">TokoKakas Aja</h4>
				</div>
			</div>
		</div>
	</div>
</body>
</html>